body {
    background-color: #35831d;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 20px; /* Adjust the base font size */
}

h1, h4 {
    color: #e4ff4a;
    font-size: 2.5em; /* Example: Set h1 and h4 font sizes */
}

.table-hover tbody tr:hover {
    background-color: #e4ff4a;
}

th, td {
    text-align: center;
    font-size: 1.2em; /* Example: Set table cell font size */
}

.form-control {
    border-radius: 0;
    border: 2px solid limegreen;
    font-size: 1em; /* Example: Set form control font size */
}

.btn-primary {
    background-color: #43a047;
    border-color: #43a047;
    font-size: 1em; /* Example: Set button font size */
}

.btn-primary:hover {
    background-color: #388e3c;
    border-color: #388e3c;
}

.btn-danger {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000000;
    font-size: 1em; /* Example: Set button font size */
}

.btn-danger:hover {
    background-color: #ffa000;
    border-color: #ffa000;
    font-size: 1em; /* Example: Set button font size */
}
